html, body {
    /* height: 100%; */
    background-image: url('/static/img/bg-ideas/tropicalbg.jpg');
    /* opacity: 0.10; */
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0; */
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid #f1f1f1; */
    margin: 2px;
    padding: 2px;
  }
  
.header {
  padding: 20px;
  text-align: center;
  /* background: #1abc9c; */
  color: white;
  font-size: 28px;
  text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000; /* Terminate with a semi-colon */
    /* outlines white text in header with black line */
}

  form {
    border: 1px solid #f1f1f1;
    /* background-color: white;
    opacity: 0.88; */
    /* margin: 20; */

  }
  
  input[type=text], input[type=password] {
    width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
  }
  
  button {
    background-color: #28532a;
    color: white;
    padding: 14px 20px;
    margin: auto;

    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 20px;
    
  }
  
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }


  