.header {
  padding: 20px;
  text-align: center;
  /* background: #1abc9c; */
  color: white;
  
  }
  
  button {
    background-color: #28532a;
    color: white;
    padding: 14px 20px;
    margin: auto;
  
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  table, th, td {
    border: 1px solid white;
  }
  

  
  
  