html {
    height: 100%;
  }
  


  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("loginback.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    
  }
  /* grid display to center it's contents align-items (vertically) 
  and justify-items (horizontally) */

  form {
    border: 3px solid #f1f1f1;
  

  }
  
 
  button, input[type=submit] {
    background-color: #28532a;
    color: white;
    padding: 14px 20px;
    margin: auto;

    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
 
  .container {
    padding: 16px;
    
  }
  
  
  /* change styles for span and cancel button on extra small screens */

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  .center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }


  