{% extends 'base.html' %}



{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Grow Better</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

</head>
<body>

  <center><h1>Grower's Log</h1></center>
  

  <center><div id="growlog-entry">
<table style="width:100%">
<tr>
  <th>User_Plant_Id</th>
  <th>Comment</th>
  <th>Timestamp</th>
  <th>Water Amount</th>
  <th>Nutrient Used</th>
  <th>Nutrient Amount</th>
  <th>Temp</th>
  <th>Humidity</th>         
  <th>Photo</th>
</tr>



{% for entry in entries %} 

<tr>
  <td>{{ entry.users_plant_id }}</td>
  <td>{{ entry.comment }}</td>
  <td>{{ entry.timestamp }}</td>
  <td>{{ entry.water }}</td>
  <td> {{entry.nute_type }}</td>
  <td>{{ entry.nutrients }}</td>
  <td>{{ entry.temp }}</td>
  <td>{{ entry.humidity }}</td>
  <td>{% if entry.photo_url %} 
      <img src="{{entry.photo_url}}">
      {% endif %}
  </td>
</tr> 

{% endfor %}

</table></center>

  </div>




  <center> <div class="container">
     
    <a href="/show-user-plants/{{session['id']}}"><button type="submit">Show My Plants</button></a>
  </div></center>

  <center><div class="container">
     
    <a href="/"><button type="submit">Logout</button></a>
  </div></center>

</body>

      
{% endblock %}


