{% extends 'base.html' %}



{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Grow Better</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href= "/static/grow-log.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/grow-log.css">

</head>
<body>



<div>

  <h2>Grower's Log
  </h2>

  
    <button id="entries" class="btn btn-primary">Get Entries</button>
  
</div>
  <div id="growlog-entries">


  </div>

<!-- user grow log data stored in db as tables,
can just display the data in tables on this page  -->


</body>

      
{% endblock %}


