{% extends 'base.html' %}



{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Grow Better</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href= "/static/grow-log.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/grow-log.css">

</head>
<body>

  <center><h1>Grower's Log</h1></center>
  


<!-- one table per entry 
how to populate multiple to show multiple grow-logs at once?-->

  <center><div id="growlog-entry">
<table style="width:100%">
<tr>
  <th>User_Plant_Id</th>
  <th>Comment</th>
  <th>Timestamp</th>
  <th>Water</th>
  <th>Nutrients</th>
  <th>Temp</th>
  <th>Humidity</th>         
  <th>Photo</th>
</tr>


<!-- <h1>All Users</h1>

  <ul>
    {% for user in users %}
      <li>
        <a href="/users/{{ user.user_id }}">
          {{ user.email }}
        </a>
      </li>
    {% endfor %}
  </ul> -->


<!-- on growlog, jinja for loop, 
use templating {{ }}, to show each piece of info  -->

<!-- can i change the order of data in tables without having to change other files? -->

<!-- need to format date/time, timestamp on input-form -->
{% for entries in get_all_entries() %} 

<tr>
  <td>{{growlog.users_plant_id}}</td>
  <td>{{growlog.comment}}</td>
  <td>{{growlog.timestamp}}</td>
  <td>{{growlog.water}}</td>
  <td>{{growlog.nutrients}}</td>
  <td>{{growlog.temp}}</td>
  <td>{{growlog.humidity}}</td>
  <td>{{growlog.photo_url}}</td>
</tr> 

{% endfor %}

</table></center>

  </div>

<!-- th is for header of table/column name
td is for the data 
tr is for the table row  -->

<!-- user grow log data stored in db as tables,
can just display the data in tables on this page  -->




  <center> <div class="container">
     
    <a href="/show-user-plants"><button type="submit">Show My Plants</button></a>
  </div></center>

  <center><div class="container">
     
    <a href="/"><button type="submit">Logout</button></a>
  </div></center>

</body>

      
{% endblock %}


