{% extends 'base.html' %}



{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href= "/static/homepage.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/homepage.css">


  <body>

  <figure class="imgcontainer">
      <img src="\static\img\bg-ideas\login.jpg" alt="Avatar" class="avatar">
    </figure>

<center><h2>See where you’ve been to see how you grow!</h2></center>
  </head>

    <center>
    <a href="/show-new-user-form"><button type="submit">Register New User</button></a>
    </center>
<br>
  <form action="/login" method="post">
    
    <center><div class="formcontainer">
      <label for="uname"><strong>Username</strong></label><br>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <br><br>
      <label for="psw"><strong>Password</strong></label><br>
      <input type="password" placeholder="Enter Password" name="password" required>
      <br><br>

      <input type="checkbox" checked="checked" name="remember"><strong> Remember me</strong>
      </label>
      <br><br>

      <button type="submit"><a href="/show-user-plants"></a>Login</button>
      <label><br><br>
        
     </div></center>   
    </form>  

    
   <center>
    
      <a href="/show-forgotpw"><button type="psw">Forgot password?</button></a>
    
    </center>
  </body>
      
{% endblock %}

