<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href= (replace URL here) rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/css/party.css">
</head>
<body>
  <div class="container-fluid d-flex header">
    <h1>
      <a href="/">When You Know Better, You Grow Better</a>
    </h1>


    <h2>Input New Entry</h2>

  <form id="entry-form">
    <div class="form-group">
      <label>Entry Form
        <input class="form-control" type="text" name="new-entry" id="entry-field">
      </label>
    </div>

    <div class="form-group">
      <button type="submit" id="entry-form-button" class="btn btn-primary">Submit New Entry</button>
    </div>

  </form>

  <div id="growlog-entry-form"></div>
   

  {% block content %}{% endblock %}
</body>
</html>
