{% extends 'base.html' %}



{% block content %}

<head>
  


  <link href= "/static/input-page.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/input-page.css">

</head>
<body>
  <div>
    <h1>
      <a>When You Know Better, You Grow Better</a>
    </h1>


    <h2>Input New Entry</h2>

  <form id="entry-form">
    <div class="form-group">
      <label>Entry Form
        <input class="form-control" type="text" name="new-entry" id="entry-field">
      </label>
    </div>

    <div class="form-group">
      <button type="submit" id="entry-form-button" class="btn btn-primary">Submit New Entry</button>
    </div>

  </form>

  <div id="growlog-entry-form"></div>
   

 
</body>

{% endblock %}