{% extends 'base.html' %}



{% block content %}

<head>
  


  <link href= "/static/new-user.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/new-user.css">
  <center>
  <h2>
      <a>Hi, New User! </a>
    </h2>
    
    <!-- <h4>See where you’ve been and see how you grow!</h4> -->
  </center>
    
</head>
<body>
  <div>
    


    <center><h3>Sign up to start tracking your plant's growth here!</h3></center>
   
  <form action="/login" method='POST' id="new-user-form">
   <center><div class="form-group">
      <br>
      <label><strong>Email</strong> <br>
        
        <input class="form-control" type="text" name="email" id="entry-field" placeholder="Email">
        
      </label><br>

      <label><strong>Username</strong> <br>
        
        <input class="form-control" type="text" name="username" id="entry-field" placeholder="Username">
        
      </label><br>

      <label><strong>Password</strong> <br>
        <input class="form-control" type="password" name="password" id="entry-field" placeholder="Password">
        
      </label><br>

      
     <center><button type="submit"><a href="/process-new-user-form"></a>Add New User</button>
      <label><br><br>
        
        </center>
      </form>

      <button type="submit"><a href="/"></a>Cancel</button>
      
        <br>

      

  <!-- both buttons should take user to grow-log.html -->
  
  <!-- when clicking add new plant, I get a 404, instead of button taking 
  user back to user-plants.html with a new plant added -->
 
</body>

{% endblock %}