{% extends 'base.html' %}



{% block content %}

<head>
  


  <link href= "/static/new-plant.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/new-plant.css">
  
</head>
<body>

  
  <div>
<br>
    <center><h2>Add New Plant Baby Below</h2></center>
   
  <form action="/process-new-plant-form" method='POST' id="entry-form">
   <center><div class="form-group">
      <br>
      <label><strong>Plant's Name</strong> <br>
        <input class="form-control" type="text" name="plant_name" id="entry-field" placeholder="Name of Plant">
        
      </label><br>

      <label><strong>Plant's Type</strong> <br>
        <input class="form-control" type="text" name="plant_type" id="entry-field" placeholder="Type of Plant">
        
      </label><br>


      <button type="submit">Add New Plant</button><br>
       </form> </center>

    <center>
    <div class="container">
     
      <a href="/show-user-plants"><button type="cancel">Cancel</button></a>
    </div></center>

    

  
  <!-- when clicking add new plant, I get a 404, instead of button taking 
  user back to user-plants.html with a new plant added -->
 
</body>

{% endblock %}