{% extends 'base.html' %}



{% block content %}

<head>
  


  <link href= "/static/input-form.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/input-form.css">

  <h3>
      <a>Track Your Progress with Dated Logs to Watch Your Growth</a>
    </h3>
    
    <h4>See where you’ve been and see how you grow!</h4>
    <h4>Start tracking your plant's growth here!</h4> 
    
</head>
<body>
  <div>
    


    <center><h3>Start New Log</h3></center>
   
  <form action="/process-form" method='POST' id="entry-form">
   <center><div class="form-group">
      <br>
      <label><strong>Plant's Name</strong> <br>
        <input class="form-control" type="text" name="plant_name" id="entry-field" placeholder="Name of Plant">
        
      </label><br>

      <label><strong>Plant's Type</strong> <br>
        <input class="form-control" type="text" name="plant_type" id="entry-field" placeholder="Type of Plant">
        
      </label><br>

      <form action="/show-new-plant-form">
        <input type="submit" value="Add New Plant"/>
        </form>
        <br>


      <form action="/show-user-plants">
        <input type="submit" value="Cancel"/>
        </form>
        <br>

      

  <!-- both buttons should take user to grow-log.html -->
  
  <!-- when clicking add new plant, I get a 404, instead of button taking 
  user back to user-plants.html with a new plant added -->
 
</body>

{% endblock %}