{% extends 'base.html' %}


{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Grow Better</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href= "/static/grow-log.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/grow-log.css">

</head>
<body>

  <center><h1>Plant Log</h1></center>
  

  <center><div id="plantlog-entry">
<table style="width:100%">
<tr>
  
  <th>Comment</th>
  <th>Timestamp</th>
  <th>Water Amount</th>
  <th>Nutrient Used</th>
  <th>Nutrient Amount </th>
  <th>Temp</th>
  <th>Humidity</th>         
  <th>Photo</th>
</tr>

{% for plantlog in plantlogs %}
<tr>
  
  <td>{{ plantlog.comment }}</td>
  <td>{{ plantlog.timestamp }}</td>
  <td>{{ plantlog.water }}</td>
  <td>{{ plantlog.nute_type }}</td>
  <td>{{ plantlog.nutrients }}</td>
  <td>{{ plantlog.temp }}</td>
  <td>{{ plantlog.humidity }}</td>
  <td>{% if plantlog.photo_url %} 
    <img src="{{plantlog.photo_url}}">
    {% endif %}
  </td>
  
</tr> 

{% endfor %}

</table></center>

  </div>

  <center> <div class="container">
    
    <a href="/show-user-plants/{{session['id']}}"><button type="submit">Show My Plants</button></a>
  </div></center>

  <center><div class="container">
     
    <a href="/"><button type="submit">Logout</button></a>
  </div></center>

</body>

      
{% endblock %}


