{% extends 'base.html' %}


{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Grow Better</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href= "/static/grow-log.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/grow-log.css">

</head>
<body>

  <center><h1>Plant Log</h1></center>
  

  <center><div id="growlog-entry">
<table style="width:100%">
<tr>
  <th>Plant_Id</th>
  <th>Comment</th>
  <th>Timestamp</th>
  <th>Water</th>
  <th>Nutrients</th>
  <th>Temp</th>
  <th>Humidity</th>         
  <th>Photo</th>
</tr>

<tr>
  <td>{{ plant.plant_id }}</td>
  <td>{{ plant.comment }}</td>
  <td>{{ plant.timestamp }}</td>
  <td>{{ plant.water }}</td>
  <td>{{ plant.nutrients }}</td>
  <td>{{ plant.temp }}</td>
  <td>{{ plant.humidity }}</td>
  <td>{{ plant.img_url }}</td>
  
</tr> 



</table></center>

  </div>

  <center> <div class="container">
     
    <a href="/show-user-plants"><button type="submit">Show My Plants</button></a>
  </div></center>

  <center><div class="container">
     
    <a href="/"><button type="submit">Logout</button></a>
  </div></center>

</body>

      
{% endblock %}


