{% extends 'base.html' %}



{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Plant Details</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href= "/static/grow-log.css" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="/static/grow-log.css">
  
  </head>
  <body>
  
    <center><h1>{{plant.plant_name}}'s Details</h1></center>
    
  
    <center><div id="plant-details">
      
    
    
      {% if plant.photo_url %} <br>
        <img src="{{plant.photo_url}}"><br>
        {% endif %}<br><br>
    <strong>Plant Type:</strong> {{ plant.plant_type }} <br><br>
    <strong>Germination Date: </strong> {{ plant.germinate_date }} <br><br>
    <strong>Transplant Date:</strong>  {{ plant.transplant_date }} <br><br> 
    <strong>Growing Medium:</strong>  {{ plant.growing_medium }} <br><br>
    <strong>Plant Environment: </strong> {{ plant.environment }} <br><br>
    <strong>Lighting Used:</strong>  {{ plant.lighting }} <br><br>
    <strong>Lighting Schedule: </strong>{{ plant.schedule }}<br>
    </div></center>
  

       <center> <div class="container">
     
        <a href="/show-new-entry-form/{{ plant.id }}"><button type="submit">Update Plant's Log</button></a>
            <br><br>
        <a href="/show-user-plants/{{session['id']}}"><button type="submit">Show My Plants</button></a>
      
        <br><br>
        <a href="/"><button type="submit">Logout</button></a>
      </div></center>
    

  
 
</body>

{% endblock %}