{% extends 'base.html' %}



{% block content %}

<head>

    <link href= "/static/users-plants.css" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="/static/user-plants.css">
  
  </head>
  <body>
    <div>
      <h1>Come To Check On Your Babies?</h1><br>

     <center><div id="user-plants">
        <table style="width:100%">
        <tr>
         
          <th><h3>Plant Name</h3></th>
          <th><h3>Plant Type</h3></th>
          
        </tr>
        
        {% for plants in user_plants %} 
        
        <tr>
         
          <td><br><center><strong>{{ plants.plant_name }}</strong></center><br><br>
            <a href="/plant-details/{{ plants.id }}">Plant's Detail Page</a>
            <br><br>
            <a href="/show-new-entry-form/{{ plants.id }}">Update Plant's Log</a>
            <br><br>
            <a href="/plant-log/{{ plants.id }}">Show Plant's Log</a>
            <br><br>
            
          </td> 

          <td>
            <center><strong>{{ plants.plant_type }}</strong></center>
          </td>
        </tr> 
        
        {% endfor %}
        
        </table></center>
        <br> 
        <br>
    </div>

          <center><div class="container">
            <a href="/show-new-plant-form"><button type="submit">Add A New Plant</button></a><br><br>
            <a href="/grow-log"><button type="submit">Show Master Log</button></a><br><br>
            <a href="/"><button type="submit">Logout</button></a>
            
          </div></center>
  </body>

{% endblock %}

