{% extends 'base.html' %}



{% block content %}

<head>

    <link href= "/static/users-plants.css" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="/static/user-plants.css">
  
  </head>
  <body>
    <div>
      <h2>Come To Check On Your Babies?</h2>

     <center><div id="all-plants">
        <table style="width:100%">
        <tr>
         
          <th>Plant Name</th>
          <th>Plant Type</th>
        </tr>
        
        {% for plants in all_plants %} 
        
        <tr>
          
          <td>{{ plants.plant_name }}</td>
          <td>{{ plants.plant_type }}</td>
        </tr> 
        
        {% endfor %}
        
        </table></center>
        
          <!-- </div>

      <form action="/show-new-plant-form">
        <input type="submit" value="Add New Plant"/>
        </form>
        <br>

        <form action="/show-new-entry-form">
          <input type="submit" value="Add New Log Entry"/>
          </form>
          <br>

          <!-- this should actually be a list of plants (maybe as objects 
            that we can manipulate or turn into links?)
          each plant should have the option to 'Add New Log Entry' -->

        <form action="/grow-log">
          <input type="submit" value="Just Show Log"/>
          </form>
          <br>
    
  </body>

{% endblock %}


<!-- to see a list of all the user's plants, with links 
  that will take user to add new entry to grow log form
  View List of All Movies
From the homepage, users should be able to click on View all movies 
and see a list of all movies in the database. In the list, users will 
be able to see each movie’s title. Also, if they click on a movie’s title, 
they’ll navigate to an info page about that particular movie.

Just to give you an idea of what you’re working toward, 
here’s how the page might look if you were to write it all by hand, in pure HTML:

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>All Movies</title>
  </head>
  <body>
    <h1>All Movies</h1>

    <ul>
      <li>
        <a href="/movie/1">
          Ad Astra
        </a>
      </li>

      <li>
        <a href="/movie/2">
          Bloodshot
        </a>
      </li>

    <ul>
  </body>
</html> -->